.filter {
  display: flex;
  margin: auto 0;
}
.filter-inp {
  height: 50%;
}




@media (max-width:1050px) {
  .filter-inp{
    width: 100%;
  }
  .filter {
    margin: 5% auto; 
    margin-left: auto;
  }
}