.footer {
  margin-top: 10%;
  background-image: url(../../assets/img/footer.png);
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding-right: 15%;
}
.footer-title {
  font-size: larger;
}

.footer-list {
  list-style-type: none;

}
.footer-list-item {
  margin-bottom: 5%;
}



@media (max-width: 950px) {
  .footer {
    padding-left: 10%;
    align-items: flex-start;
    text-align: left;
    display: block;
  }
  .footer-title {
    margin: 5% 0;
  }
  
}